@import url("https://fonts.cdnfonts.com/css/edu-sa-beginner");
@import url("https://fonts.cdnfonts.com/css/raqillas");

@import url("https://fonts.cdnfonts.com/css/uncommon");
@import url("https://fonts.cdnfonts.com/css/great-journal-four");
@import url("https://fonts.cdnfonts.com/css/rosegoldia");

/* font */
.edu-font {
  font-family: "Edu SA Beginner", sans-serif;
}
.raq {
  font-family: "Raqillas", sans-serif;
}
.uncommon {
  font-family: "Uncommon", sans-serif;
}
.gjf {
  font-family: "Great Journal Four", sans-serif;
}
.rosegoldia {
  font-family: "Rosegoldia", sans-serif;
}
